<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/main.css">
  <title>IMF CPL Marker Label Register</title>
</head>

<body>

  <nav id="toolbar">
    <div id="branding">
      <a href="https://www.imfug.com/"><img src="static/imf-ug-logo.png" alt="IMF User logo"></a>
      <span><a href="https://www.imfug.com/">IMF User Group</a></span>
    </div>
    <div id="toolbar-links">
      <a href="https://github.com/imfug/registries/issues">File an issue</a>
      <a href="https://github.com/imfug/registries/src/main/data/cpl-marker-labels.json">Get the JSON</a>
    </div>
  </nav>

  <section id="main">
    <h1>IMF CPL Marker Label Register</h1>

    <p>This register collects <code>Label</code> values (and associated <code>scope</code> values)
      for use with the <a href="https://pub.smpte.org/doc/st2067-3/">IMF CPL</a>.</p>

    <p>The register is also available as a <a href="https://github.com/imfug/registries/src/main/data/cpl-marker-labels.json">JSON file</a>.</p>

    <p>Feedback and suggestions for additional labels are <a href="https://github.com/imfug/registries/issues">welcome</a>.</p>

    <table id="register">
      <thead>
        <tr>
          <th>Label</th>
          <th>Description</th>
          <th>See also</th>
          <th>Where is it defined?</th>
        </tr>
      </thead>
      {{#each scopes}}
        <tbody>
          <tr>
            <th colspan="4"><code>scope</code>: <code>{{scope}}</code></th>
          </tr>
          {{#each labels}}
            <tr id="{{../scope}}-{{label}}">
              <td><code>{{label}}</code></td>
              <td>{{description}}</td>
              <td>
                {{#each seeAlso}}
                 <a href="#{{scope}}-{{label}}">{{label}}</a> 
                {{/each}}
              </td>
              <td>{{authority}}</td>
            </tr>
          {{/each}}
        </tbody>
      {{/each}}
    </table>
  </section>

  <footer>
    <p>&copy; <a href="mailto:info@imfug.com">IMF User Group</a>.</p>
    <p>Version: {{version}}</p>
  </footer>

</body>

</html>